body{
    font-size: 14px !important;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  color: var(--title-color);
  font-family: var(--font-poppins);
  font-weight: 600;
  line-height: 1.4;
}

h1 {
  font-size: 35px !important;
}

h2 {
  font-size: 25px !important;
}

@media (min-width: 992px) and (max-width: 1199px) {
  h2 {
    font-size: 22px !important;
  }
}

@media (max-width: 991px) {
  h2 {
    font-size: 20px !important;
  }
}

@media (max-width: 767px) {
  h2 {
    font-size: 18px !important;
    line-height: 1.4 !important;
  }
}

h3 {
  font-size: 22px !important;
}

h4 {
  font-size: 18px !important;
}

@media (max-width: 576px) {
  h4 {
    font-size: 18px !important;
  }
}

h5 {
  font-size: 16px !important;
}

p {
  font-size: 16px !important;
  font-weight: 400 !important; 
  line-height: 28px !important;
}

@media (max-width: 576px) {
  p {
    font-size: 16px !important;
  }
}

.decorated-link{
    color:  #5271ff !important;
}

.page-header-div{
        height: 150px;
    overflow: hidden;
    position: relative;
    margin-bottom: 25px;
}

.page-header-div img{
        object-fit: cover;
    height: 100%;
    width: 100%;
}

.page-header-div h1{
    position: absolute;
    top: 30px;
    left: 60px;
    color: #fff;
}

.page-header-div:before {
    content: "";
    background: #000000a0;
    position: absolute;
    inset: 0;
}