@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}


.customer-service-header>.dropdown-toggle:hover~.dropdown-menu {
  display: block;
  width: max-content;
  position: absolute;
  inset: 0px auto auto 0px;
  margin: 0px;
  transform: translate3d(0px, 30px, 0px);
  display: block;
  animation: fade-up-custom 0.5s linear;
}

.customer-service-header>.dropdown-menu:hover {
  display: block;
  width: max-content;
  position: absolute;
  inset: 0px auto auto 0px;
  margin: 0px;
  transform: translate3d(0px, 30px, 0px);
  display: block;
}


@keyframes fade-up-custom {
  0% {
    opacity: 0;
    transform: translateY(40px);
    visibility: hidden;
  }

  100% {
    opacity: 1;
    transform: translateY(30px);
    visibility: visible;
  }
}

.home2-banner-section .banner-wrapper .banner-img-area img{
  object-fit: fill !important;
}

.twoline {
    display: -webkit-box;
    -webkit-line-clamp: 2;
    /* Limits text to 2 lines */
    -webkit-box-orient: vertical;
    /* Required for line-clamp to work */
    overflow: hidden;
    /* Hides the remaining text */
}