section.contact-us {
    margin-top: calc(60px + 30px);
    margin-bottom: 50px;
}
h1 {
    font-size: 20px;
    font-weight: 400;
    /*color: #5F17C5;*/
    color: rgb(233 76 59);
    line-height: 1.2;
}
h2 {
    margin: 20px 0 10px 0;
    line-height: 1.4;
}
h3 {
    font-weight: 400;
    line-height: 1.4;
    font-size: 20px;
    margin-bottom: 30px;
}
div.tabs {
    display: flex;
    gap: 20px;
    margin-bottom: 50px;
    & div.tab {
        flex: 1;
        padding: 20px;
        border-radius: 17px;
        box-shadow: 0 0 2px 1px #e8e8e8;
        /*background-color: #f7f7f7;*/
    }
}
div.tab {
    & h3 {
        margin-bottom: 0;
        font-size: 18px;
        font-weight: 500;
    }
    & div.contact-info {
        margin-top: 14px;
    }
    & div.title {
        gap: 10px;
        display: flex;
        align-items: center;
        /*display: inline-flex;*/
        /*align-items: center;*/
        /*justify-content: center;*/
        /*background-color: rgba(232, 75, 58, 0.2);*/
        /*height: 34px;*/
        /*width: 34px;*/
        margin-bottom: 14px;
        border-radius: 7px;
    }
    & div.title svg {
        height: 22px;
        width: 22px;
        display: flex;
        overflow: visible;
        fill: #474747;
        /*fill:rgba(232, 75, 58);*/
    }
}
div.tab div.contact-info {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    & a {
        text-decoration: none;
        border: 1px solid #474747;
        padding: 8px 10px;
        display: inline-flex;
        font-size: 15px;
        border-radius: 5px;
        color: #000;
    }
    & a:hover {
        background-color: #f7f7f7;
        /*text-decoration: underline;*/
        border-color: transparent;
    }
}
div.tab:nth-child(3) a {

}

/*div.highlights {*/
/*    & h2 {*/
/*        font-size: 24px;*/
/*    }*/
/*    & div.child {*/
/*        display: flex;*/
/*        gap: 20px;*/
/*    }*/
/*    height: auto;*/

/*    & div.highlight {*/
/*        flex: 1;*/
/*        padding: 20px;*/
/*        background-color: #f7f7f7;*/
/*        border-radius: 17px;*/
/*    }*/
/*}*/
/*div.highlight p:first-child {*/
/*    font-weight: 600;*/
/*    font-size: 17px;*/
/*}*/
/*div.highlight p:last-child {*/
/*    font-size: 15px;*/
/*    color: #212121;*/
/*    margin-top: 10px;*/
/*}*/

/*div.packages {*/
/*    margin-bottom: 50px;*/
/*    display: flex;*/
/*    flex-direction: row;*/
/*    flex-wrap: wrap;*/
/*    gap: 20px;*/
/*    & div.package {*/
/*        position: relative;*/
/*        width: calc(50% - 10px);*/
/*        !*height: 180px;*!*/
/*        aspect-ratio: 3.4/1;*/
/*        min-height: 180px;*/
/*        box-shadow: rgba(0, 0, 0, 0.1) 0 1px 3px 0, rgba(0, 0, 0, 0.06) 0 1px 2px 0;*/
/*        !*background-color: #f7f7f7;*!*/
/*        display: flex;*/
/*        gap: 20px;*/
/*        border-radius: 17px;*/
/*        overflow: hidden;*/
/*    }*/
/*}*/

/*div.package div.image {*/
/*    overflow: hidden;*/
/*    aspect-ratio: 1/1;*/
/*    & img {*/
/*        height: 100%;*/
/*        width: 100%;*/
/*        object-fit: cover;*/
/*    }*/
/*}*/
/*div.package div.texts {*/
/*    flex: 1;*/
/*    margin: 14px 20px 14px 0;*/
/*    & h3 {*/
/*        font-weight: 500;*/
/*        font-size: 20px;*/
/*        margin-bottom: 7px;*/
/*    }*/
/*    & div.dr {*/
/*        display: flex;*/
/*        align-items: center;*/
/*        gap: 30px;*/
/*    }*/
/*    & svg {*/
/*        height: 16px;*/
/*        width: 16px;*/
/*        display: flex;*/
/*        overflow: visible;*/
/*        fill: #353535;*/
/*    }*/
/*}*/
/*div.package div.texts div.dr p {*/
/*    display: flex;*/
/*    align-items: center;*/
/*    gap: 7px;*/
/*    font-size: 16px;*/
/*    color: #212121;*/
/*    & img {*/
/*        height: 16px;*/
/*        width: 16px;*/
/*    }*/
/*}*/
/*div.package div.texts p.price {*/
/*    margin-top: 14px;*/
/*    color: #454545;*/
/*    font-size: 15px;*/
/*    & span {*/
/*        color: #000;*/
/*        font-size: 22px;*/
/*        font-weight: 600;*/
/*    }*/
/*}*/
/*div.package div.links {*/
/*    bottom: 18px;*/
/*    position: absolute;*/
/*    margin-top: 14px;*/
/*    display: flex;*/
/*    gap: 14px;*/
/*}*/
/*div.package div.links a {*/
/*    font-size: 15px;*/
/*    text-decoration: none;*/
/*    padding: 8px 16px;*/
/*    border-radius: 50px;*/
/*    color: #212121;*/
/*    background-color: #f1f1f1;*/
/*    font-weight: 500;*/
/*}*/
/*div.package div.links a:hover {*/
/*    opacity: 0.7;*/
/*}*/
/*div.package div.links a:first-child {*/
/*    background-color: rgb(233 76 59);*/
/*    color: #fff;*/
/*    box-shadow: 0 0 2px 1px #e8e8e8;*/
/*}*/


@media only screen and (max-width: 1040px) {
    div.tabs {
        flex-direction: row;
        flex-wrap: wrap;
        & div.tab {
            flex: auto;
            /* max-width: calc(50% - 50px); */
        }
    }
}

div.faqs {
    background-color: #f8f9fa;
    padding: 50px 0 30px 0;
    div.child {
        display: flex;
        align-items: flex-start;
        gap: 30px;
    }

}
div.faqs div.tab.start {
    flex: 1;
    p.subtitle {
        margin-top: 14px;
        color: #353535;
    }
    div.contact-us {
        max-width: 80%;
        margin-top: 30px;
        a {
            display: inline-block;
            margin-top: 20px;
            text-decoration: none;
            background-color: rgb(233 76 59);
            border-radius: 50px;
            padding: 8px 14px;
            color: #fff;
            font-size: 15px;
            border: 1px solid rgb(233 76 59);
            font-weight: 500;

        }
        a:hover {
            background-color: #fff;
            color: rgb(233 76 59);
        }
        p {
            font-size: 16px;
            line-height: 1.5;
        }
    }
}
div.faqs div.tab.end {
    width: 50%;
    height: auto;
    background-color: #fff;
    border-radius: 17px;
    overflow: hidden;
}
div.faq{
    border-top: 1px solid #e8e8e8;
}
div.faq:nth-of-type(1) {
    border-top: 0;
}

/* div.faq:nth-child(even){
    border-top: 1px solid #e8e8e8;
    border-bottom: 1px solid #e8e8e8;
} */
div.faq p.question {
    padding: 20px 25px;
    font-size: 16px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
    font-weight: 500;
}
div.faq[data-visibility='visible'] {
    & p.question span.icon {
        transform: rotate(180deg) !important;
    }
    & p.answer {
        display: block;
        line-height: 1.4;
        & b {
            font-weight: 600;
        }
    }
}
div.faq p.question span.icon {
    background-color: transparent;
    padding: 8px;
    border-radius: 50px;
    display: flex;
}
div.faq p.question svg {
    display: flex;
    height: 18px;
    width: auto;
}
div.faq p.answer {
    display: none;
    padding: 0 25px 25px;
    font-size: 15px;
    line-height: 23px;
    color: #353535;
}

div.faq p.question:hover span.icon {
    background-color: #f7f7f7;
}

@media only screen and (max-width: 1040px) {
    div.faqs div.contact-us {
        max-width: 100% !important;
    }
}
@media only screen and (max-width: 940px) {
    div.faqs {
        padding-bottom: 0;
        padding-top: 40px;
    }
    div.faqs div.child {
        display: grid;
    }
    div.faqs div.tab.end {
        width: 100%;
    }
}
